<div class="row">
    <div class="col-md-4">{{wineryname}}</div>
    <div class="col-md-2">{{email}}</div>
    <div class="col-md-2">{{phone}}</div>
    <div class="col-md-2">{{address}}</div>
    <div class="col-md-2">{{postcode}}</div>
</div>